h1 DPReddit-Angular Links
ul.media-list.list-group(data-ng-hide="loading")
  li.media.list-group-item(data-ng-repeat="linkEntry in linkEntries")
    div.pull-left.col-xs-1
      div(style="text-align: center")
        a(ng-click="vote(linkEntry.id, 1)")
          span.glyphicon.glyphicon-chevron-up
        div.clearfix
        span {{linkEntry.votevalue}}
        div.clearfix
        a(ng-click="vote(linkEntry.id, -1)")
          span.glyphicon.glyphicon-chevron-down
    div.media-body.col-xs-10
      a(href='{{linkEntry.linkurl}}')
        h3(style="margin-top: 0") {{ linkEntry.title }}
      span(am-time-ago="linkEntry.date")
      span by {{ linkEntry.user.username }}
      div
        a(href='linkdetail/{{linkEntry.id}}') &nbsp;
          span.glyphicon.glyphicon-comment
          | &nbsp; {{linkEntry.comments.length}} Comments
